doctype html
html
  head
    title Pit Strat
    link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/jquery-3.0.0.min.js')

  body.none.fill
    //(style='background-image: url(assets/pictures/circuit.png);')#body


    div.f-left(style='width:10%;')
      .grid-item
      each team, teamNumber in summary
        if (team.color == '#ba3248')
          .no-decor.center.grid-height.padding-s.text-on-primary(style='background: ' + team.color + ';')=teamNumber
      each team, teamNumber in summary
        if (team.color == '#4286f4')
          .no-decor.center.grid-height.padding-s.text-on-primary(style='background: ' + team.color + ';')=teamNumber

    div.f-left(style='width: 90%')
      div
        each title, i in ['mPlayed', 'Mobility','aGear','aGearP','aBallP','aHigh','tGear','tGearP','tHigh','hangSucc','hangDur']
          if (i == 0)
            p.grid-width.f-left(style='background: orange')=title
          if (i > 0 && i < 6)
            p.grid-width.f-left(style='background: yellow')=title
          if (i >= 6)
            p.grid-width.f-left(style='background: green')=title

        .clear
        each team, teamNumber in summary
          if (team.color == '#ba3248')
            .no-decor.grid-height.padding-s
              each val, field in team
                if(field!='color')
                  .no-decor.f-left.center.grid-item=val+''
        .clear
        each team, teamNumber in summary
          if (team.color == '#4286f4')
            .no-decor.grid-height.padding-s
              each val, field in team
                if(field!='color')
                  .no-decor.f-left.center.grid-item=val+''
        .clear

    .clear
    div
      a.navbar-item.no-decor.text-on-primary(href='/scouting/pitStrat?matchNumber=' + (matchNumber-1))
        Previous Match Prev

      a.navbar-item.no-decor.text-on-primary(href='/scouting/pitStrat?matchNumber=' + (matchNumber+1))
        Next Match Next

    style(type='text/css').
      .grid-width{
        width: 9%;
      }
      .grid-height{
        height: 40px;
      }
      a{
        background-color: #dddddd;
        border: red;
        height: 100px;
        width: 150px;
        padding: 3px 3px;
        display: inline;
        font-size: 16px;
        margin: 5px 4px;
        cursor: pointer;
      }
      .grid-item{
        width: 9%;
        height: 40px;
      }
    script(src='scripts/material-components-web.js')
    script.
      mdc.autoInit()
