doctype html
html
  head
    title About
    link(rel='shortcut icon', href='/assets/pictures/188favicon.png')
    link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/jquery-3.0.0.min.js')
  body.none.fill(style='background-image: url(https://imgur.com/zRYTpvO.jpg);')#body
  
  .padding-m
    
  div.page.mdc-card.margin-v-b.padding-b
    each index in paras
      h1.none.primary=index.title
      .margin-m
        p.none=index.para
        p.none='Considering sponsoring?'
          a.no-decor.primary-hover(href='mailto:sponsorship@team188.com')=' Contact sponsorship@team188.com'

  //sponsor buttons
  div.mdc-card.grid-container.margin-v-b.page.center-items
    each item in sponsors
        a.sponsor-img(
          style='background-image: url(' + item.image + ')'
          href=item.url)
          h1.none-m.grid-button-foreground #{item.name}
    .clear


    div.mdc-card.navbar-container
      ul.mdc-list.navbar
        each item in menu
          li.mdc-list-item.f-left.navbar-item
            a.center.fill.no-decor.mdc-theme--text-primary-on-primary(href=item.url)=item.name
      .clear
    script(src='scripts/material-components-web.js')
    script.
      mdc.autoInit()
