doctype html
html
  head
    title About
    link(rel='stylesheet', href='assets/generated-css/stylesheet.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/jquery-3.0.0.min.js')
  body.none.fill(style='background-image: url(assets/pictures/circuit.png);')
    div.page.mdc-card.margin-v-b.padding-b
      each index in paras
        h1.none.primary=index.title
        p.margin-b=index.para

  //sponsor buttons
  div.mdc-card.grid-container.margin-v-b.page.center-items
    each index in [0, 1, 2, 3, 4]
        a.sponsor-img(
          style='background-image: url(' + 'assets/pictures/188-logo.png' + ')'
          href='/')
          h1.none-m.grid-button-foreground TDSB
    .clear

  //footer
  div.footer.page.mdc-card.padding-b
    div.footer-links
      each index in routes
        a.footer-link(href=index.url)=index.name
      .clear

    div.mdc-card.navbar-container
      ul.mdc-list.navbar
        each item in menu
          li.mdc-list-item.f-left.navbar-item
            a.center.fill.no-decor.mdc-theme--text-primary-on-primary(href=item.url)=item.name
      .clear
    script(src='scripts/material-components-web.js')
    script.
      mdc.autoInit()
